<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="potato.listMapper">
<!-- 전체휴게소 목록 -->

<!-- 고속도로 버튼 클릭시 핀 불러오기 -->

<!-- 도 클릭시 해당 휴게소 목록 보여주기 -->

<!-- 도 휴게소 목록에서 검색, 정렬 -->

<!-- 휴게소 목록에서 상세창으로 이동 -->

<!-- 페이징 -->

<!-- 연관검색어 -->
</mapper>