<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="properties/database.properties">
	</properties>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
	<mapper resource="potato/dao/mapper/UserMapper.xml"/>
	<mapper resource="potato/dao/mapper/HomeMapper.xml"/>
	<mapper resource="potato/dao/mapper/DetailedMapper.xml"/>
	<mapper resource="potato/dao/mapper/WriteMapper.xml"/>
    <mapper resource="potato/dao/mapper/MypageMapper.xml"/>
   	<mapper resource="potato/dao/mapper/Other_review_mapper.xml"/>
   	<mapper resource="potato/dao/mapper/listMapper.xml"/>
	<mapper resource="potato/manager/dao/mapper/mgrMemberMapper.xml"/>
	<mapper resource="potato/manager/dao/mapper/mgrPassChangeMapper.xml"/>
	<mapper resource="potato/manager/dao/mapper/Manager_restarea_mapper.xml"/>
    <mapper resource="potato/manager/dao/mapper/Manager_review_mapper.xml"/>
    <mapper resource="potato/manager/dao/mapper/Manager_home_mapper.xml"/>
  </mappers>
</configuration>