<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="potato.manager.home">

	<!-- config에 옮기자~~
	<typeAlias type="potato.manager.domain.EMpDomain" alias="ed"/>
	 -->

	<!-- 오늘 신규가입 수 -->
	<select id="selectNewMemCnt" resultType="int">
	select count(*)
	from member
	where to_char(join_date,'yyyymmdd')=to_char(sysdate,'yyyymmdd');
	</select>
	<!-- 오늘 신고 수 -->
	<select id="selectReportCnt" resultType="int">
	select count(*)
	from report
	where to_char(report_date,'yyyymmdd')=to_char(sysdate,'yyyymmdd');
	</select>
	<!-- 인기 휴게소(1) -->
	<select id="selectPopOne" resultType="String">
	select name
	from ( select rev.restarea_idx, name, rating, cnt
			from ( select restarea_idx, avg(rating) rating, count(review_idx) cnt
					from review
					group by restarea_idx ) rev, restarea res
			where (rev.restarea_idx=res.restarea_idx)
			order by rating desc, cnt desc)
	where rownum= 1;
	</select>
	
	
	<!-- 관심휴게소 -->
	<select id="" resultType="String">
	
	</select>
	<!-- 방문자현황 -->
	<select id="" resultType="domain">
	
	</select>
	<!-- 회원현황 -->
	<select id="" resultType="domain">
	
	</select>
	<!-- 방문자현황 -->
	<select id="" resultType="int">
	
	</select>
	<!-- 회원현황 -->
	<select id="" resultType="int">
	
	</select>
	
	<!-- 인기 휴게소(5) -->
	<select id="selectPopAll" resultType="String">
	select name
	from ( select rev.restarea_idx, name, rating, cnt
			from ( select restarea_idx, avg(rating) rating, count(review_idx) cnt
					from review
					group by restarea_idx ) rev, restarea res
			where (rev.restarea_idx=res.restarea_idx)
			order by rating desc, cnt desc)
	where rownum between 1 and 5;
	</select>

</mapper>