<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="potato.manager.review">
	
	<select id="selectReview" resultType="potato.manager.domain.ReviewDomain" parameterType="potato.manager.vo.SearchReviewVO" >
		select re.review_idx, re.restarea_idx, ra.name, re.contents, re.rating, re.id, re.post_date, (select count(ID_REPORTER) from report where REVIEW_IDX = re.REVIEW_IDX and ID_WRITER=re.ID and RESTAREA_IDX = re.RESTAREA_IDX  ) report_cnt
		from review re, restarea ra
		
		<where>
		(re.restarea_idx = ra.restarea_idx) and 1=1
		<if test="keyword != null and keyword != ''">
		<if test="searchType != null">
		and ${searchType} like '%'||#{keyword}||'%'
		</if>
		</if>
		</where>
		
		<if test="dateOrderFlag eq 1">
		order by re.post_date desc
		</if>
		<if test="dateOrderFlag eq 2">
		order by re.post_date 
		</if>
		
		<if test="reportOrderFlag eq 1">
		order by report_cnt desc
		</if>
		<if test="reportOrderFlag eq 2">
		order by report_cnt 
		</if>
		
		offset (#{pageFlag}-1)*10 rows
		fetch next 10 rows only
	</select>

</mapper>