@charset "UTF-8";

.review_management-wrap{
	width:1280px;
	margin:0 auto;
}

.review_management{
	display:flex;
	flex-direction:column;
}

.rm-top{
	display:flex;
	margin-bottom:20px;
}

.search-wrap {
	border: 1px solid #e9ecef;
	font-size: 18px;
	width: 500px;
	height: 44px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	position:relative;
}

.keywordList {
	border: 1px solid grey;
	position:absolute;
	top:44px;
	left:0px;
	width:446px;
	display:none;
	background-color: white;
}

.search-txt {
	width: 500px;
	font-size: 18px;
	border-color: transparent;
}

.search-bar {
	background-color: #DEDEDE;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
}

.search-select{
	height:45px;
	font-size:15px;
	margin-right:5px;
}

.btn-line{
	display: flex;
	width:220px;
	margin-bottom:10px;
}

.delete-btn {
    width: 70px;
    height: 25px;
    background-color: #C80000;
    border-radius: 6px;
    color: #fff;
    margin-right:5px;
}

.align-btn{
	width: 70px;
    height: 25px;
    background-color: #3498DB;
    border-radius: 6px;
    color: #fff;
    margin-right:5px;
}

.table-wrap {
	width: 1280px;
	margin-bottom:30px;
}

.table {
      border-collapse: collapse;
      border-top: 3px solid #495057;
      width: 100%;
}  

.table th {
	  color: #0A0400;
      background: #BEBEBE;
      text-align: center;
}

.table th, .table td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: center;
      word-break: break-all;
      vertical-align: middle;
}

.nameTd {
	width: 200px;
}

.idTd {
	width: 150px;	
}

.dateTd {
	width: 200px;
}

.popup-btn{
	background-color:transparent;
}

.page{
	display: flex;
    justify-content: center;
    align-content:center;
}

.page-num{
	font-size: 16px;
    color: #000;
	background-color: #F4F4F4;
    border-radius: 10px;
    margin: 5px;
    padding: 12px;
}
.page-num:hover{
    color: #FFF;
    background-color: #C89E6C;
}

.page-num-click{
	font-size: 16px;
    color: #000;
	background-color: #C89E6C;
    border-radius: 10px;
    margin: 5px;
    padding: 12px;
}

